@import url("./__close/popup__close.css");
@import url("./__form/popup__form.css");
@import url("./__title/popup__title.css");
@import url("./__item/popup__item.css");
@import url("./__submit/popup__submit.css");
@import url("./__item/_view/_name/popup__item_view_name.css");
@import url("./__item/_view/_about-u/popup__item_view_about-u.css");

.popup {
	visibility: hidden;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0, .5);
	transition: all .2s ease-in-out;
	opacity: 0;
}