
.popup__close_view_image {
	background: url("./../../../../../images/close-icon.svg") no-repeat;
	background-position: center;
	width: 30px;
	height: 35px;
	transition: opacity .1s ease-in-out;
	align-self: flex-end;
	margin-right: -35px;
}

.popup__close_view_image:hover {
	opacity: .8;
}

@media (min-width: 1280px) {
	.popup__close_view_image {
		width: 40px;
		height: 40px;
		margin-right: -40px;
	}
}