.template-modal__close {
	background: url('./../../../images/close-icon.svg') no-repeat;
	background-position: center;
	padding: 0;
	width: 30px;
	height: 35px;
	border: 0;
	outline: none;
	cursor: pointer;
	transition: opacity .1s ease-in-out;
	align-self: flex-end;
	margin-right: -35px;
}

.template-modal__close:hover {
	opacity: .8;
}

@media (min-width: 1280px) {
	.template-modal__close {
		width: 40px;
		height: 40px;
		margin-right: -40px;
	}
}
