.element__group {
	background: url("./../../../images/like.svg") no-repeat;
	width: 21px;
	height: 19px;
	transition: opacity .1s ease;
	user-select: none;
	border: 0;
	outline: 0;
	padding: 0;
}

.element__group:hover {
	cursor: pointer;
	opacity: .6;
	
}