.element__group {
	transition: opacity .1s ease;
	user-select: none;
	border: 0;
	outline: 0;
	background-color: rgba(0,0,0, 0);
	padding: 0;
}

.element__group:hover {
	cursor: pointer;
	opacity: .6;
	
}