.profile__add-button {
	background: url("./../../../../images/add-button.svg") no-repeat;
	background-position: center;
	margin-top: 36px;
	justify-self: center;
	transition: opacity .1s ease;
	border: 2px solid #FFFFFF;
	border-radius: 2px;
	padding: 23px 139px;
	user-select: none;
	outline: none;
}

.profile__add-button:hover {
	cursor: pointer;
	opacity: .6;
}

@media (min-width: 1280px) {
	.profile__add-button {
		margin-top: 30px;
		justify-self: end;
		padding: 14px 73px;
		height: 50px;
	}
}