.profile__add-button {
	margin-top: 36px;
	justify-self: center;
	transition: opacity .1s ease;
	border: 2px solid #FFFFFF;
	border-radius: 2px;
	padding: 13px 131px;
	user-select: none;
	background-color: rgba(0,0,0, 0);
	outline: none;
}

.profile__add-button:hover {
	cursor: pointer;
	opacity: .6;
}

@media (min-width: 1280px) {
	.profile__add-button {
		margin-top: 30px;
		justify-self: end;
		padding: 14px 65px;
		height: 50px;
	}
}