.popup__close {
	align-self: flex-end;
	transition: opacity .1s ease;
	background-color: rgba(0,0,0, 0);
	outline: none;
	border: 0;
	user-select: none;
	padding: 0;
}

.popup__close:hover {
	cursor: pointer;
	opacity: .6;
}